body{
    background-color: #06223A;
    display: flex;
    justify-content: center;
}
.global{
    text-align: center;
    padding: 20px;
    width: 335px;
    height: 550px;
    border: 1px #06223A solid;
    border-radius: 10px;
    background-color: #0A3357;
    box-shadow: 3px 1px 1px black;
}
.title{
    color: white;
    font-size: 30px;
    position: relative;
    right: 29px;
}
.inside{
    position: relative;
    top: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.place{
    position: absolute;
    top:500px;
    border-top: 1px whitesmoke solid;
    width: 340px;

}
.position{
    position: relative;
    top:15px;
    right: 29px;
    color: whitesmoke;
}
img{
    border-radius: 10px;
}
.a{
    color: greenyellow;
    position: relative;
    left: 6px;
}
.b{
    color: azure;
    position: relative;
    left: 6px;
}
.c{
    position: relative;
    top: 5px;
    right: 61px;
}
.d{
    position: relative;
    bottom: 2px;
    right: 50px;
    color: azure;
}
.e{
    position: relative;
    right: 61px;
}

